<p class="peoples_msg">Amount of people: 1</p>

<div class="container-slider">
	<input class="peoples" type="range" min="1" max="4" step="1" value="1" />
</div>

<form class="ac-custom ac-checkbox ac-boxfill" style="padding: 0px;">
  <ul>
    <li>
      <input id="towing" name="towing" type="checkbox">
      <label for="cb1">Currently towing a trailer or caravan</label>
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"></svg>
    </li>
    <li>
      <input id="skibox" name="skibox" type="checkbox">
      <label for="cb2">I have a skibox mounted</label>
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"></svg>
    </li>
  </ul>
</form>


<p></p>

<p>Additional comments</p>

<textarea class="comments"></textarea>

<p>
    <button class="btn btn-primary btn-lg dropdown-toggle btn-next open-case" type="button">Open a case</button>
</p>
