<div class="infoview">
      <div class="infoview-field">
      <p class="glyphicon glyphicon-user" aria-hidden="true">
      <%=user%>
      </p>
      </div>

      <div class="infoview-field">
      <p class="glyphicon glyphicon-home" aria-hidden="true">
      <%=address%>
      </p>
      </div>

      <div class="infoview-field">
        <ul class="list-group">
         <li class="list-group-item">
         <span class="badge">10</span>
          Workorders
         </li>
         <li class="list-group-item">
         <span class="badge">3</span>
          History
         </li>
        </ul>
      </div>
</div>


