      <div class="modal-body">
    


          <svg xmlns="http://www.w3.org/2000/svg" width="500" height="200" class="title" viewBox="0 0 500 40">
            <text x="0" y="35" transform="translate(100)" font-family="Arial" font-size="45">
              Demo - wfm
            </text>
          </svg>


          <form class="form-horizontal">
              <fieldset>

              <!-- Form Name -->
              <!-- <legend>Login</legend> -->

              <!-- Text input-->
              <div class="form-group ">
                <div class="col-md-6 istyle">
                  <div class="icon-descriptor"></div>
                  <input id="user" name="user" placeholder="User" 
                  style="" 
                  class="form-control input-md" 
                  required="" type="text">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group ">
                <div class="col-md-5 istyle">
                <div class="icon-descriptor"></div>
                <input id="phone" name="phone" type="tel" placeholder="Password" class="form-control input-md" required="" type="text">
                <span class="help-block"></span>
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="login-btn"></label>
                <div class="col-md-4">
                  <button id="login-btn" name="login-btn" class="btn btn-primary btn-lg dropdown-toggle btn-next register">
                    Continue
                  </button>
                </div>
              </div>

              </fieldset>
            </form>

        </div>
