<div class="form-container">
      <div class="box-form">
        <p class="title">Taxi Demo</p>
      </div>
    <div class="form-wrapper">
        <fieldset>

            <!-- Form Name -->
            <!-- <legend>Login</legend> -->
            <!-- Text input-->

            <div class="box-form box-input">

                <input id="user" name="user" placeholder="User" style="" class="form-control input-md" required="" type="text">
            </div>



            <div class="box-form box-input">
                <input id="phone" name="phone" type="tel" placeholder="Password" class="form-control input-md" required="" type="text">
                <span class="help-block"></span>
            </div>


            <!-- Button -->

            <div class="box-form box-input">
                <button id="login-btn" name="login-btn" class="btn btn-primary btn-lg dropdown-toggle btn-next register">
                    Continue
                  </button>
            </div>


        </fieldset>
    </div>


</div>
