

.login-form {
  height: 100%;
  width: 100%;
  z-index: 4;
  position: absolute;
  background: transparent;
  top: 0px;
  opacity: 0;
  -webkit-transition: width, top, opacity 1s;
}

.form-wrapper {
  margin-top: 60px;
}

.form-container {
  position: relative;
  width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}


.box-form {
  width: 86%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}


.box-form > input {
 height: 40px;
 background: #495560;
 opacity: 0.8;
 color: white;
 text-transform: uppercase;
 border-style: none;
}

.box-form > p {
  color: #333333;
  font-family: Impact, Charcoal, sans-serif;
  /*font-family: Impact, Charcoal, sans-serif;
  font-family: Verdana, Geneva, sans-serif;
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif; */
}

.login-form.show {
  opacity: 1;
}

.box-form > .title {
  text-align: center;
  font-size: 59px;
  color:white;
}

.icon-descriptor {
    width: 87px;
    position: absolute;
    height: 70px;
    float: left;
    background-color: black;
    border-radius: 2px;
    opacity: 0.6;
    left: 21px;
}
