.ui-btn {
  position: absolute;
  z-index: 5;
  top: 80%;
  left: 40%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.btn-disable {
  opacity: 0.5;
  height: 30px;
  width: 30px;
}

.btn-home{
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;

  height: 70px;
  width: 70px;
  background-color: #8bc34a;;
  border-style:none;
  color: #616161;
  margin-bottom: 13px;

  -webkit-transition: opacity color height shadow 1.75s ease-in-out;
}

.icon-taxi {
  background-image: url("../assets/taxi.svg");
  background-repeat: no-repeat;
  background-position-x: 18px;
  background-position-y: 16px;
  background-size: 46px;
}

.shadow {
  -webkit-box-shadow: 0px 14px 39px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 39px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 14px 39px 0px rgba(0,0,0,0.75);
}


.console.hide-bar {
  opacity: 0;
}

.console.loading {
  background-repeat: no-repeat;
  background-position-y: 14px;
  background-position-x: 11px;
  background-image: url("../assets/ripple.svg");
}

.console.think {
  background-repeat: no-repeat;
  background-position-y: 14px;
  background-position-x: 11px;
  background-image: url("../assets/think.svg");
}


.console-msg {
  position: relative;
  left: -50%;
   border: dotted red 1px;
}


.wide: {
  width: 100%;
}

.validation-error {
  border-color: #ff9999
}

html, body {
  height:100%;
  background-color: #333;
}

.site-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    opacity: 1;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);

    filter: blur(0px);
    transition: filter, opacity, 0.3s ease-in;
}

.btn-panel {
  margin: 20px;
  margin-top: 55px;
  position: absolute;
  top: 0px;
  z-index: 1;
}

.btn-touch {
 border-radius: 62px;
 width: 100px;
 height: 101px;
 color: white;
}

.btn-next {
  width: 100%;
  height: 54px;
  border-color: #ff9999;
}

.call{
  height: 80px;
  width: 80px;
}

.options-mod {
  height: 60px;
  width: 74px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.map {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.loader {
  margin-top: 9px;
}

.navz.nav-hide {
  opacity: 0;
}

.navz {
  opacity: 0.8;
  transition: opacity .75s ease-in-out;
}


/** Switch **/

.onoffswitch {
    position: relative; width: 55px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 25px; padding: 0; line-height: 20px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    background-color: #9E9E9E;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 33px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #FF6363;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #FF6363;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}


/*£ Blur effect £*/

.cover {
 top: 0px;
 background: #495560;
 position: absolute;
 border-radius: 0px 100px 100px:
 transition: opacity, height, width, border-radius 0.75s ease-in-out;
 -webkit-transition: opacity, height, width, border-radius 0.75s ease-in-out;
 opacity: 0;
}

.cover.show {
 width: 100%;
 height: 100%;
 border-radius: 0px;
 opacity: 0.3;
}
