.menu-button {
    position: absolute;
    top: 4px;
    left: 3%;
    z-index: 1000;
    background-color: transparent;
    height: 60px;
    width: 60px;
}

#menu-button-svg {
    height: 82%;
    width: 82%;
    margin-top: 9%;
    margin-left: 9%;
}

.side-menu {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 83%;
    background-color: #ffffff;
    height: 100%;
    top: 0;
}

.menu-list-item {
    height: 60px;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 20px;
    background-color: #50bbe6;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    font-size: 18px;
}

/* add main content (element that will slide to show side menu) class here to configure easing/animation */
.site-wrapper {
    transition-timing-function: ease-out;
    transition: 0.35s;
}