.menu-container {
    position: fixed;
    top: 3%;
    left: 3%;
    z-index: 1000;
    background-color: transparent;
    /*background-color: red;*/ 
    background-image: url("../assets/ic_menu_white_24px.svg");
    background-repeat: no-repeat;
    background-size: 83% 83%;
    background-position: center;
    height: 60px;
    width: 60px;
}
