.menu-button {
    position: fixed;
    top: 4px;
    left: 3%;
    z-index: 1000;
    background-color: transparent;
    height: 60px;
    width: 60px;
}

#menu-button-svg {
	height: 82%;
	width: 82%;
	margin-top: 9%;
	margin-left: 9%; 
}

.side-menu {
	z-index: 2;
	position: absolute;
	visibility: hidden;
    width: 83%;
    background-color: #ffffff;
    height: 100%;
    top: 0;
}
