.console {
  position: absolute;
  overflow: hidden;
  left: 3%;
  background-color: black;
  top: 10%;
  width: 92%;
  opacity: 0.8;
  color: #616161;
  border-radius: 4px;
  padding-right: 10px;

  transition: opacity, color, height 0.75s ease-in-out;
  -webkit-transition: opacity, color, height 0.75s ease-in-out;

  -webkit-box-shadow: 1px 1px 6px 2.4px #080808;
  box-shadow: 1px 1px 6px 2.4px #080808;
}

.console.notify {
  opacity: 0.5;
}

.console.notify > p {
margin-top: 2px;
}

.console > p.active {
  color: white;
}

.console > p {
  font-size: 18px;
  margin-left: 41px;
}

.chart {
  position: absolute;
  stroke: white;
  stroke-width: 5px;
  height: 100%;
}
